<h2 mat-dialog-title>New Form</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formOfFormCreator">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" layout-wrap>
      <mat-form-field fxFlex="30" class="">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="" formControlName="name" name="name" >
        <mat-error>
          <ul *errorMessages="{errors: name.errors, formControl : name}; errors as errors">
            <li *ngFor="let error of errors">{{error['errorMessage']}}</li>
          </ul>
        </mat-error>
<!--        <mat-hint align="end">-->
<!--          <ul *errorMessages="{errors: name.errors, formControl : name}; errors as errors">-->
<!--            <li *ngFor="let error of errors">{{error['errorMessage']}}</li>-->
<!--          </ul>-->
<!--        </mat-hint>-->
      </mat-form-field>

      <mat-form-field fxFlex="30" class="">
        <mat-label>Display</mat-label>
        <input type="text" matInput placeholder="" formControlName="displayName" name="display">
      </mat-form-field>

      <mat-form-field fxFlex="30" class="">
        <mat-label>AccessLevel</mat-label>
        <mat-select #fontSize formControlName="accessLevel" name="accessLevel">
          <mat-option *ngFor="let level of formAccessLevels" [value]="level">{{level}}</mat-option>
        </mat-select>
        <mat-error>
          <ul *errorMessages="{errors: accessLevel.errors, formControl : accessLevel}; errors as errors">
            <li *ngFor="let error of errors">{{error['errorMessage']}}</li>
          </ul>
        </mat-error>
      </mat-form-field>
    </div>

    <fieldset class="sub-form">
      <legend>fields</legend>
      <data-table
        [data]="fieldsTableData"
        (onAddEvent) = "addField()"
        (onRefreshEvent) = "refreshFieldData()"
      ></data-table>
    </fieldset>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="saveForm()">Save</button>
</mat-dialog-actions>
