<h2 mat-dialog-title>New Form</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup] = "formOfFormCreator">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center"  layout-wrap>
      <mat-form-field fxFlex="30" class="">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="" formControlName="name" name="name">
      </mat-form-field>

      <mat-form-field fxFlex="30" class="">
        <mat-label>Display</mat-label>
        <input type="text" matInput placeholder="" formControlName="displayName" name="display">
      </mat-form-field>

      <mat-form-field fxFlex="30" class="">
        <mat-label>AccessLevel</mat-label>
        <mat-select #fontSize formControlName="accessLevel"  name="type">
          <mat-option *ngFor="let type of fieldTypes" >{{type}}</mat-option>
        </mat-select>
      </mat-form-field>


    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="saveForm()">Save</button>
</mat-dialog-actions>
