<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <h2>New Form</h2>
  <button mat-icon-button aria-label="close" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography">

  <div class="error-box" *ngIf="showErrors">
    <ul>
      <li *ngFor="let err of errors">{{err}}</li>
    </ul>
  </div>

  <form [formGroup]="form">
    <div class="padding-20">

      <section class="padding-bottom-20" fxLayout="row wrap" fxLayout.xs="column"
               fxLayoutAlign="space-between center" layout-wrap>

        <div class="" *ngFor="let field of fields"
             fxFlex="{{formColumnCount === 1 ? '100' : formColumnCount === 2 ? '45' : '30'}}">
          <div class="">
            <mat-form-field *ngIf="field.type === 'Text'" fxFlex="100">
              <mat-label>{{field.display}}</mat-label>
              <input type="text" matInput [placeholder]="field.placeholder || ''" [formControlName]="field.name"
                     [name]="field.name">
            </mat-form-field>
            <mat-form-field *ngIf="field.type === 'Tel'" fxFlex="100">
              <mat-label>{{field.display}}</mat-label>
              <input type="text" matInput [placeholder]="field.placeholder || ''" [formControlName]="field.name"
                     [name]="field.name">
            </mat-form-field>
            <mat-form-field *ngIf="field.type === 'Email'" fxFlex="100">
              <mat-label>{{field.display}}</mat-label>
              <input type="email" matInput [placeholder]="field.placeholder || ''" [formControlName]="field.name"
                     [name]="field.name">
            </mat-form-field>
            <mat-form-field *ngIf="field.type === 'Password'" fxFlex="100">
              <mat-label>{{field.display}}</mat-label>
              <input type="password" matInput [formControlName]="field.name" [name]="field.name">
            </mat-form-field>
            <mat-form-field *ngIf="field.type === 'TextArea'" fxFlex="100">
              <mat-label>{{field.display}}</mat-label>
              <textarea matInput [formControlName]="field.name" [placeholder]="field.placeholder || ''"></textarea>
            </mat-form-field>
            <div *ngIf="field.type === 'CheckBox'" fxFlex="100">
              <mat-checkbox [formControlName]="field.name">{{field.display}}</mat-checkbox>
            </div>
            <div *ngIf="field.type === 'Radio'" fxFlex="100">
              <mat-label>{{field.display}}:</mat-label>
              <mat-radio-group [formControlName]="field.name">
                <mat-radio-button class="padding-left-10"
                                  *ngFor="let item of field.items" [value]="item.key">{{item.value}}</mat-radio-button>
              </mat-radio-group>
            </div>
            <mat-form-field *ngIf="field.type === 'List'" fxFlex="100">
              <mat-label>{{field.display}}:</mat-label>
              <mat-select [formControlName]="field.name" [attr.required]="field.required">
                <mat-option *ngIf="!field.required">-- select --</mat-option>
                <mat-option *ngFor="let item of field.items" value="item.key">{{item.value}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="field.type === 'Date'" fxFlex="100">
              <mat-label>{{field.display}}</mat-label>
              <input matInput [matDatepicker]="picker" [formControlName]="field.name">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field *ngIf="field.type === 'DateRange'" fxFlex="100">
              <mat-label>{{field.display}}</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate [formControlName]="field.name + 'start'" placeholder="Start date">
                <input matEndDate [formControlName]="field.name + 'end'" placeholder="End date">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <!--          <mat-error>-->
            <!--            <ul *errorMessages="{errors: name.errors, isValid :isFieldValid('name')}; errors as errors">-->
            <!--              <li *ngFor="let error of errors">{{error['errorMessage']}}</li>-->
            <!--            </ul>-->
            <!--          </mat-error>-->
            <!--        <mat-hint align="end">-->
            <!--          <ul *errorMessages="{errors: name.errors, formControl : name}; errors as errors">-->
            <!--            <li *ngFor="let error of errors">{{error['errorMessage']}}</li>-->
            <!--          </ul>-->
            <!--        </mat-hint>-->
          </div>
        </div>
      </section>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
<!--  <button mat-button mat-dialog-close>Cancel</button>-->
  <button mat-button cdkFocusInitial mat-dialog-close>Ok</button>
</mat-dialog-actions>
