<div class="toolbar" role="banner">
  <mat-toolbar color="primary" class="toolbar-fixed">
    <span class="">Admin Panel</span>
    <span class="spacer"></span>
    <div id="side-toolbar-section" fxLayout="row" fxLayoutAlign="end center">
      <button mat-icon-button class="toolbar-icon-btn" aria-label="heart">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="toolbar-icon-btn" aria-label="share">
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>

<div class="content" role="main">
  <mat-sidenav-container class="auto-z-index">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">
      <div class="side-nav-container">
        <div class="padding-top-30"></div>
        <div>
          <mat-nav-list>
            <mat-list-item *ngFor="let item of menuItems">
              <a matLine [routerLink]="item.path" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-icon>{{ item.icon }}</mat-icon>
                <span>{{ item.display }}</span>
              </a>
            </mat-list-item>
          </mat-nav-list>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="main auto-z-index">
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-btn" aria-label="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="relative">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
